* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    font-family: "Poppins", sans-serif;
}

.cabecalho-imagem {
    width: 15%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem {
    width: 25%;
}

.escola {
    background-image: linear-gradient(#000000, #C0C0C0);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    font-family: "Poppins", sans-serif;
}

.escola-div-conteudo {
    width: 35%;
    text-align: center;
}

.escola-titulo {
    padding: 10px 0;
    font-size: 35px;
    text-align: center;
}

.estudante-imagem {
    width: 200px;
}

.estudante-icone {
    width: 64px;
}

.estudante-div {
    text-align: center;
    padding: 20px 20px;
}

.estudante{
    background-image: linear-gradient(#C0C0C0,#C0C0C0);
}

.estudante-titulo{
    text-align: center;
    font-size: 32px;
    padding: 30px;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.rodape{
    text-align: center;
    background-color: #000000;
}

.rodape-imagem{
    height: 100px;
    padding: 12px 0;
}